@import "bootstrap";
@import 'font_awesome5';

.col{
	h1{
		font-size: 20px;
		text-align: center;
    font-weight: bold;
	}
}
.ex_sav-date{
	font-size: 13px;
}
.ms-2{
	span{
    font-size: 16px;
    border-radius: 5px !important;

	}
}
.btn{
color: black !important;
}
.card{
  &-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1{
      font-size: 20px;
      margin: unset;
    }
  }
  &-body{
    span{
      font-size: 23px;
      border-radius: 5px !important;
    }
  }
}

.fw-bold{
  font-size: 16px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.input-group{
  flex-direction: column;
  input{
    width: 100% !important;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius:  3px !important;
  }
}
select{
  background: white;
    border-radius: 3px !important;
    padding: 5px;
    border: 1px solid #ced4da !important;

}
.input-submit{
  input{
    border-radius: 3px;
    padding: 7px 10px;
    margin-top: 20px;
    background: #18a563;
    outline: none;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
  }
}
#errors_div{
  display: none;
  width: 100%;
  background: red;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px;
}
body{
  margin: unset !important;
}
nav{
  
}
.container-fluid{
  padding: 10px 50px;
  a{
    font-weight: bold;
      pointer-events: none;
      font-size: 25px;
    
   
    svg{
      margin-right: 5px;
    }
  }
  div{
    display: flex;
    align-items: center;
    a{
      color: #fff !important;
      font-size: 16px;
      margin-left: 8px;
      pointer-events: all;
    }
    div{
    span{
      font-weight: bold;
      margin-left: 5px;
      border: 1px solid;
      border-radius: 3px;
      padding: 1px 5px;
    }
    
  }
}
}
.expense-wrapper{
  margin-top: 30px;
}
.list-group-item{
  a{
    &:nth-of-type(1),&:nth-of-type(2){
      &:hover{
        background-color: transparent;
      }
     svg{
       color: black;
     }
    }
    &:nth-of-type(1){
    position: absolute;
    right: 14px;
    bottom: 7px;
    
  }
  &:nth-of-type(2){
    position: absolute;
    right: 34px;
    bottom: 7px;
  }
}
}

.devise-signup{
  display: flex;
  flex-direction: column;
  justify-content: center;
 align-items: center;
 margin-top: 50px;
  form{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    div{
      width: 100%;
      &:nth-of-type(4){
        margin-top: 10px;
        display: flex;
        justify-content: center;
        input{
          color:#fff !important;
        }
      
      }
    }
   
  }
  .bt-t{
    text-align: center;
  }
}